.custom-container {
  
  padding-top:5vh;
  width: 50%;
  max-width: 100%; 
  margin: 0 auto;
  padding-bottom: 5%;
}
/* .change-password{

  background-color: #ececf5;
  margin-top: 10vh;
  width: 30%;  
  height: 50vh;
  border: 2px solid #f6f4f4;
  border-radius: 8px; 
  padding: 20px; 
  box-sizing: border-box; 
 
} */

.side_bar {
  display: flex;
  position: fixed;
  top: 0rem;

  height: 100%;
  width: 30vh;
 

  background-color: #1308e6;
  padding-top: 10px;
  z-index: 1050;
}

.side_bar li {
  position: sticky;
  padding-top: 1vh;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10%;
  padding-left: 0;

  border-radius: 10px;

  text-align: center;
}

.side_bar ul {
  top: 0rem;
  height: 100%;
  width: 30vh;
  float: left;
  padding-left: 0;
  margin-left: 0;

}

img{
  
  width: 100px;
  height: 80px;
 
}

/* .profile{
 
  width: 30vh;
  height: 30vh;
 
}
.icon_button{
  width: 5vh;
  height: 5vh;

} */

.profile {
  width: 30vh;
  height: 30vh;
}

.icon_button {
  width: 5vh;
  height: 5vh;
  
 
} 
.user_profile{
  width: 30vh;
  height: 40vh;
  background: #dccccc;

}


.list-group-item:hover {
  font-size: 18px; 
}

.list-group-item:active {
  font-size: 20px; 
}

.sideBarImage {
  width: 100px; 
}


@media print {
  .print_button {
    display: none;
  }
  .print-table {
    
    width: 100%;
    margin: 5px; 
  }
  
  .print-table th, .print-table td {
    padding: 10px;
    font-size: 14px; 
  }
  .breadcrumb{
    display:none;
  }
}

.custom-navbar-height{
  height:5%
}